.banner-image {
  margin: 0 auto;
  height: 600px;
  object-fit: cover;
}

.caption1 {
  font-size: 2.3rem;
  font-weight: 800;
  color: whitesmoke;
}
.caption2 {
  font-size: 2.3rem;
  font-weight: 800;
  color: #2f3542;
}
.caption3 {
  font-size: 2.3rem;
  font-weight: 800;
  color: #b53471;
}
.carousel-inner {
  width: 100vw;
}
@media screen and (max-width: 576px) {
  #carouselExample {
    width: fit-content;
  }
  .banner-image {
    width: 100%;
  }
  .carousel-inner {
    width: fit-content;
  }
  .caption1,
  .caption2,
  .caption3 {
    font-size: 1rem;
  }
}
