.banner-image {
  margin: 0 auto;
  height: 600px;
  object-fit: cover;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.caption1 {
  font-size: 2.3rem;
  font-weight: 800;
  color: #bdc3c7;
}
.caption2 {
  font-size: 2.3rem;
  font-weight: 800;
  color: #ffdd59;
}
.caption3 {
  font-size: 2.3rem;
  font-weight: 800;
  color: #130f40;
  opacity: 5;
}
.carousel-inner {
  width: 100vw;
}
@media screen and (max-width: 576px) {
  #carouselExample {
    width: fit-content;
  }
  .banner-image {
    width: 100%;
  }
  .carousel-inner {
    width: fit-content;
  }
  .caption1,
  .caption2,
  .caption3 {
    font-size: 1rem;
  }
}
